[submodule "applications/arm-core-radar-gesture-detection-demo"]
	path = applications/arm-core-radar-gesture-detection-demo
	url = https://github.com/yunjinli/zukimo_radar_demo.git
[submodule "applications/zukimo_base_project"]
	path = applications/zukimo_base_project
	url = https://gitlab.com/dreamchip/zukimo_bsp-zukimo-distro.git
